@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<body>
    <p>Palmetto Braiders, LLC was established in 2018 by Francis, Demarcus, Marlin, and Zack. </p><br/>
    <p>At Palmetto Braiders, we specialize in all of your braiding needs!</p><br/>
    <p>Take a look at our products and services to see if we can serve you.
        If you've found an item or service you would like, please register or login to proceed.</p><br/>
   
</body>


