@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>If you have any questions, comments, or concerns, please feel free to contact us!</p>
<address>
    1234 StreetName Blvd.<br />
    Spartanburg, SC 29303<br />
    <abbr title="Phone">P:</abbr>
    867-5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@palmettobraiders.com">support@palmettobraiders.com</a><br />
</address>