@{
    ViewBag.Title = "Home";
}
<style>
.example1 {
 height: 50px;
 position: relative;
}
.example1 h3 {
 font-size: 3em;
 color: black;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
</style>

<div class="example1">
    <p class="lead"><h3>Welcome to the home page of Palmetto Braiders!</h3></p>
</div>

<div class="text-center">
    <div class="display: visible-lg-inline-block">
        <h2>Getting started</h2>
        <p>
            Take a look at our braid styles and prices. If you've found what you like, go ahead and signup or login to schedule an appointment!
        </p>
    </div>
</div>

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides">
        <div class="numbertext">1 / 5</div>
        <img src="~/Images/bob1.jpg" style="width:100%">
        <div class="text">Bob</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 5</div>
        <img src="~/Images/boxBraid1.jpg" style="width:100%">
        <div class="text">Box Braids</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 5</div>
        <img src="~/Images/cornRow1.jpg" style="width:100%">
        <div class="text">Corn Rows</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 5</div>
        <img src="~/Images/fauxLocks1.jpg" style="width:100%">
        <div class="text">Faux Locks</div>
    </div>

    <div class="mySlides">
        <div class="numbertext">5 / 5</div>
        <img src="~/Images/senegaleseTwist1.jpg" style="width:100%">
        <div class="text">Senegalese Twist</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

