@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Palmetto Braiders</h1>
    <p class="lead">Welcome to the home page of Palmetto Braiders!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Take a look at our braid styles and prices. If you've found what you like, go ahead and signup or login to schedule an appointment!
        </p>
    </div>
</div>