@{
    Layout = "_Layout.cshtml";
}

<div class="navbar-collapse collapse">
    @RenderSection("scripts", required: false)
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Select Styles", "SelectStyles", "STYLEs")</li>
        <li>@Html.ActionLink("View Appointments", "IncompleteAppointments", "Appointments")</li>
    </ul>
</div>
<div class=" content">
    @RenderBody()
</div>