@{ 
    Layout = "_Layout.cshtml";
}  

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Schedule Appointment", "Create", "Appointment")</li>
        <li>@Html.ActionLink("View Past Orders and Appointments", "ViewPastOrds", "Clients")</li>
        <li>@Html.ActionLink("Edit", "Edit", "Clients") </li>
    </ul>
</div>

<div class= "content">
    @RenderBody()
</div>