@{
    Layout = "_Layout.cshtml";
}

<div class="navbar-collapse collapse">
    @RenderSection("scripts", required: false)
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Schedule Appointment", "CreateClientAppoint", "Appointments")</li>
        <li>@Html.ActionLink("View Past Appointments", "ViewPastOrds", "Clients")</li>
    </ul>
</div>

<div class="content">
    @RenderBody()
</div>